@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
input:focus{
    outline: none;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}
nav{
    z-index: 1000;
    background: white;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    padding: 0 10px;
    font-family: 'Noto Sans', sans-serif;
}
nav .container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .wrapper{
    transition: all 0.4s;
}
nav .wrapper ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav .wrapper>ul>li{
    line-height: 60px;
    margin: 0 20px;
    transition: 0.5s;
}
nav .wrapper>ul>li>a:hover{
    transition: 0.4s;
    color: #e6c300;
}
nav .wrapper ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
nav .wrapper .dropdown{
    position: relative;
}
nav .wrapper .dropdown .bx-right-arrow{
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    display: none;
}
nav .wrapper .foods{
    position: absolute;
    padding: 10px 0;
    background: #fff;
    border-radius: 2px;
    box-shadow: 2px 2px 4px #00000048; 
    display: none;
    overflow: hidden;
    transition: all .4s ease-in-out;
    width: 250px;
}
nav .wrapper .foods ul li{
    line-height: 50px;
    cursor: pointer;
    margin: 0 10px;
    padding: 0 5px;
    width: 90%;
}
nav .wrapper .foods ul li:hover{
    background: #ffd700;
    transition: 0.4s ease;
    border-radius: 4px;
}
@media (min-width: 1050px) {
    nav .wrapper .dropdown:hover .foods{
        display: block;
        opacity: 1;
        height: auto;
        animation: toTop 0.5s ease forwards;
    }
}

nav .wrapper .foods ul{
    color: black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
nav .wrapper .logo{
    position: absolute;
    left: 10px;
    top: 14px;
    display: none;
}
nav .wrapper .social{
    display: none;
    padding: 0 50px;
    width: 100%;
    justify-content: space-around;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
nav .wrapper .social i{
    padding: 20px;
    font-size: 25px;
    cursor: pointer;
    color: black;
    transition: 0.4s all;
}
nav .wrapper .social .bxl-instagram:hover{
    color: #cc00aa;
    transform: translateY(-10px);
}
nav .wrapper .social .bxl-facebook-circle:hover{
    color: #0065fc;
    transform: translateY(-10px);
}
nav .wrapper .social .bxl-linkedin:hover{
    color: #0045ad;
    transform: translateY(-10px);
}
nav .tools{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100px;
}
nav .bx-cart{
    margin-right: 30px;
    font-size: 25px;
    cursor: pointer;
    transition: 0.5s;
}
nav .bx-cart:hover{
    color: #ffd700;

}
nav .container .cartBox{
    display: flex;
    justify-content: center;
    position: absolute;
    padding: 5px 0;
    top: 45px;
    right: 0;
    height: 0;
    width: 250px;
    opacity: 0;
    background: linear-gradient(#7745ff83, #ff5ed783);
    transition: 0.5s;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.219);
    overflow-x: hidden;
    border-radius: 2px;
    backdrop-filter: blur(3px);
    border: 1px solid #ffffffb2;
    border-radius: 4px;
}
nav .container .cartBox.active{
    height: 350px;
    opacity: 1;
}
nav .container .cartBox ul{
    overflow-y: auto;
    height: 85%;
    width: 180px;
}
nav .container .cartBox ul::-webkit-scrollbar{
    width: 7px;
}
nav .container .cartBox ul::-webkit-scrollbar-track{
    background: #7700ff;
    border-radius: 5px;
}
nav .container .cartBox ul::-webkit-scrollbar-thumb{
    background: #350072;
    border-radius: 5px;
}
nav .container .cartBox ul li{
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    color: #fff;
    background: rgba(255, 255, 255, 0.308);
    white-space: nowrap;
    border-bottom: 2px solid #7700ff56;
    line-height: 35px;
    margin-bottom: 2px;
    border-radius: 2px 2px 0 0;
    transition: 0.4s;
}
nav .container .cartBox.active ul li{
    display: flex;
}
nav .container .cartBox input{
    padding: 2px 1px;
    text-align: center;
    border-radius: 3px;
    width: 30px;
    background: transparent;
    border: 1px solid #7700ff;
    color: #350072;
}
nav .container .cartBox button.delete{
    border: none;
    background: transparent;
    margin-right: 5px;
    padding-bottom: 2px;
    border-radius: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
nav .cartBox #cartPrice{
    color: #350072;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 22px;
    width: 22px;
    background: transparent;
    font-size: 13px;
}
nav .cartBox .buy{
    position: absolute;
    padding: 5px 15px;
    bottom: 10px;
    border: none;
    font-size: 16px;
    color: #fff;
    background: rgba(255, 255, 255, 0.308);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.164);
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}
nav .cartBox .buy:active{
    transform: scaleX(1.4);
}


nav .bx-x,nav .bx-menu-alt-right{
    cursor: pointer;
    font-size: 30px;
    display: none;
}
nav .bx-x{
    position: absolute;
    top: 10px;
    right: 10px;
}

@keyframes toTop {
    0%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }

}


#home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
}
#home .left{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 50px;
    background: #000c24;
    width: 70%;
    height: 100vh;
}
#home .left img{
    z-index: 0;
    width: 350px;
    position: absolute;
    right: 10px;
    bottom: -30%;
    transform: translateY(-50%);
}

#home .left h2{
    z-index: 2;
    color: #fff;
    font-family: 'Grechen Fuemen', cursive;
}
#home .left p{
    z-index: 2;
    border-left: 1px solid #fff;
    padding-left: 20px;
    margin-top: 20px;
    font-size: 15px;
    width: 350px;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}
.myBtn{
    border: 0;
    border-radius: 2px;
    background: linear-gradient(135deg, #7700ffc5,#0064b6);
    color: white;
    margin-top: 30px;
    padding: 8px 20px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    overflow: hidden;
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.myBtn:active{
    transform: scaleX(1.2);
}
.myBtn::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to right, #7700ff,#008cff);
    transition: 0.7s;
    opacity: 1;
    transform: scaleX(0);
}
.myBtn:hover:before{
    width: 100%;
    opacity: 1;
    animation: scaleX 0.5s ease forwards;
}
@keyframes scaleX {
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}
.myBtn .bx{
    line-height: 20px;
    margin-right: 5px;
    font-size: 22px;
}
#home .right{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #d0e6ff;
    width: 40%;
    height: 100vh;
    font-family: 'Noto Sans', sans-serif;
}
#home .right .content{
    width: 350px;    
    color: #7700ff;
}
#home .counter{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #7700ff;
}
.decounter, .incounter{
    color: white;
    background: #7700ff;
    margin: 0 10px;
    width: 30px;
    height: 30px;
    border: none;
    box-shadow: 1px 2px 4px #0000003d;
    border-radius: 50%;
    cursor: pointer;
}
#home .right .price{
    padding: 0 30px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home .right .price span{
    position: absolute;
    top: -18px;
    left: -18px;
    border: 2px solid #7700ff63;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.171);
    padding: 8px 6px;
    background: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 50%;
    font-family: 'Noto Sans', sans-serif;
    color: #7700ffce;
}
#home .right .price .myBtn{
    margin: -5px 0 0 0;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.171);
}
/* SWIPER JS */
.swiper .myCard{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.582);
    border-radius: 8px;
    backdrop-filter: blur(3px);
    padding: 10px 0;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.055);
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #d0e6ff;
    
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 200px;
  }
    .right .swiper-button-next,.right .swiper-button-prev{
        background: rgb(255, 255, 255) !important;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 20px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.171);
    }
    .swiper-button-next:after, .swiper-button-prev:after{
        font-size: 20px !important;
        color: black !important;
    }

    @media (max-width:1200px) {
        #home .left img{
            bottom: -20%;
            right: 10%;
            width: 250px;
        }
        #home .myCard{
            width: 60%;
        }
    }
    @media (max-width: 1050px) {
        #home{
            flex-direction: column;
        }
        #home :is(.right,.left){
            width: 100%;
        }
        nav .container{
            justify-content: space-between;
        }
        nav .wrapper{
            padding-top: 30px;
            position: absolute;
            top: 0;
            left: 0;
            background: #fff;
            height: 100vh;
            width: 0;
            opacity: 0;
            overflow: hidden !important;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.171);
            transition: 0.5s;
        }
        nav .wrapper ul > li{
            width: 90%;
        }
        nav .wrapper .social{
            display: flex;
        }
        nav .wrapper .dropdown .foods{
            position: static;
            display: block;
            height: 0;
            padding: 0;
            width: 220px;
            box-shadow: none;
            border-left: 1px solid #ffd700;
        }
        nav .wrapper.active .dropdown.active .foods{ 
            height: 200px;  
        }
        nav .wrapper.active .dropdown .bx-right-arrow{
            transform: rotate(0);
            transition: 0.5s;
        }
        nav .wrapper.active .dropdown.active .bx-right-arrow{
            transform: rotate(90deg);
        }
        nav .wrapper .dropdown .bx-right-arrow{
            display: block;
        }
        /* nav .wrapper .dropdown:hover .foods{
            position: relative;
            left: 0;
            top: 0;
        } */
        #home .left{
            padding-left: 20px;
        }
        #home .left img{
            bottom: 0;
            right: 5px;
        }
        nav .overlay.active{
            opacity: 0.5;
            pointer-events: visible;
        }
        nav .wrapper.active{
            width: 250px;
            overflow: auto;
            opacity: 1;
        }
        nav .wrapper.active .logo{
            display: block;
        }


        nav .wrapper > ul{
            margin-top: 30px;
            flex-direction: column;
            align-items: flex-start;
        }
        nav .wrapper ul li{
            line-height: 45px;
        }
        nav .bx-x,nav .bx-menu-alt-right{
            display: block;
        }
        
        
    }
    @media (max-width:400px) {
        #home .left h2{
            font-size: 22px;
        }
        #home .left p{
            font-size: 13px;
            white-space: normal;
            width: auto;
        }
        #home .myCard{
            width: 75%;
        }
    }
    #proudcts{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #d0e6ff;
    }
